#deposit-paper {
  padding: 1em;
  margin: 1.5em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
}

.error-input {
  border-color: #f44336;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}
