.footer {
  background-color: #e1e8ed;
  padding: 2em 4em;
  width: 100vw;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  #alineacion-derecha-footer {
    text-align: right;
  }
}
