.footer {
  padding: 1em 4em;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.icono-redes {
  color: black;
  transition: color 300ms;
  margin-right: 0.2em;
}
.icono-redes:hover {
  color: #082145;
}

@media screen and (min-width: 600px) {
  #alineacion-derecha-footer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  #logo-footer {
    margin-top: 0.5em;
  }
}
